body {
	min-width: 30%;
	width: 350px;
	background-color: #FCD844;
	color: #333;
	text-align: center;
}

h1 {
	font-family: "Book Antiqua", serif;
	text-align: center;
}


#submit_button {
	text-align: center;
	margin: 0 auto;
	display: block;
}

#success_box {
	margin: 0 auto;
	width: 80%;
	/*height: 30%;*/
	text-align: center;
	border-style: solid;
	border-color: #8A1337;
	padding: 25px;
}

a {
	text-decoration: none;
}

.url {
	color: #B71B4A;
	text-decoration: none;
}

