<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Shortened URL</title>
		<link rel="stylesheet" href="../static/css/extension.css" type="text/css"/>
	</head>
	<body>
	
<h1>Shakespeare Says</h1>

<img src="http://www.hamptons-shakespeare.org/sites/default/files/images/Logo-new%20colors.png" style="margin: 0 auto; display: block; margin-bottom: 20px; max-width: 200px"/>

	<div id="success_box"
		<br><br>
		Your URL 
		<br><br>
		<span class="url"> {{ long_url }} </span>
		<br><br>has been shortened to
		<br><br>
		<a href="/shorten/{{ short_url }}" target="_blank"><span class="url"> {{ short_url }}</a>  </span> 
	</div>

	


	</body>
</html>