<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Web Architecture: Project 1</title>
		<link rel="stylesheet" href="static/css/style.css" type="text/css">
	</head>
	<body>
	
	<h1>Welcome to StormShare's URL Shortener!</h1>

	<div class="image_wrapper">
		<img src="http://www.textfiles.com/underconstruction/HoHotSpringsSpa3188underconstruction.gif" alt="us!">
	</div>

	<div class="blurb">
		Please input a URL that you would like shortened.<br>
		If you've already entered the URL before, you will be returned the same shortened URL.
	</div>

<form id="url_shortener" method="POST" action="/create">
	
<p>
	<label for="long_url" class="label_align">Your URL </label>
	<input type="text" id="long_url" class="url_align" name="long_url"/>
</p>
	
<p>	
	<label for="short_url" class="label_align">Shortened URL </label>
	<input type="text" id="short_url" class="url_align" name="short_url"/>
</p>

	<input id="submit_button" type="submit" value="Shorten Me, Please!"/>

</form>


	<h6>This assignment was done for a <a href="http://www.ischool.berkeley.edu/courses/i253">Web Architecture class</a> at the School of Information at Berkeley. </h6>

		
	<script type="text/javascript" src="static/js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src = "static/js/script.js"></script>


	</body>
</html>
